# --------- lightning --------- #
lightning>=2.5.0
lightning-bolts
lightning-utilities

# --------- hydra --------- #


# --------- loggers --------- #

# --------- others --------- #
rootutils       # standardizing the project root setup
pre-commit      # hooks for applying linters on commit
rich            # beautiful text formatting in terminal
pytest          # tests


# --------- project core --------- #

roma
einops
deepspeed


pyglet<2
huggingface-hub[torch]>=0.22
